body {
    background-color: rgb(218, 223, 225);

    font-family: 'Raleway', sans-serif;
}

h1 {
    padding: 25px;
}

h1::before{
    content: url('img/icon_32.png');
}

ul {
  list-style-type: none;
}

.showTitle {

    font-family: 'Playfair Display', serif;
    font-size: 1.7em;
    color: #3A539B;

}

.showTimeDisplay{
    padding-top: 10px;
    font-size: 0.8em;

}

.showTimeString{
    padding-top: 10px;
    font-size: 1em;
    padding-bottom: 10px;
}
